.App{
    display: grid !important;
    grid-template-columns: 6rem auto;
    grid-template-rows: auto;
    grid-template-areas:
          "header main";

    width: 100%;
    min-height: 100vh;

    background-color: var(--background-color);

    font-family: var(--main-font), serif;
}

header{
    grid-area: header;
}

main{
    grid-area: main;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100%;
    min-height: 100%;

}
