header {
    width: fit-content;
}

.navbar {
    padding: 10px;
    margin: 0;
    background-color: #B0C2D9;
    font-family: "Times New Roman", serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nav-item {
    padding: 8px 16px;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #343A40;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    position: relative;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.nav-link:hover {
    background-color: #FFD64D;
    border-radius: 50%;
}

.icon {
    color: blue;
}

.nav-link:hover .icon {
    color: white;
}

.nav-link p {
    margin: 0;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(8px);
    opacity: 0;
    background-color: #343A40;
    color: #FFFFFF;
    border-radius: 4px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

header p{
    z-index: 1000;
}

.nav-link:hover p {
    opacity: 1;
}

.nav-link.active .icon {
    color: #FFD64D;
}

.nav-link.active:hover .icon {
    color: white;
}



